<!DOCTYPE html>
<html>
<head>
    <title>Satelite Pictures Classifier</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <div class="left-column">
            <h1>Satelite Pictures Classifier</h1>
            <p>Upload your picture to get prediction!</p>
            
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file">Select a file:</label>
                <input type="file" name="file" id="file">
                <input type="submit" value="Upload">
            </form>

            <img src="{{ user_data.uploaded_image }}" alt="Uploaded Image">
        </div>
        <div class="right-column">
            <h3>Class Names:</h3>
            <ul>
                {% set class_name_list = user_data.class_names.values()|list %}
                {% set predictions_list = user_data.pred.strip('[]').split() %}

                {% if class_name_list|length >= 20 %}
                    <ul>
                        {% for index in range(20) %}
                            {% set prediction_value = predictions_list[index]|float %}
                            {% set formatted_prediction = "%.5f" % prediction_value %}
                            <li>{{ class_name_list[index] }} : {{ formatted_prediction }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </ul>
            <p>Max: {{ user_data.max }} : {{ user_data.max_value * 100 }}%</p>
        </div>
    </div>
</body>
</html>
